<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <title>위드펫</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'css/style.css'%}?after" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="posting-wrapper">
      <div id="header" class="navbar">
        <a href="/" id="hd-main-logo" class="clear-a"
          ><img src="{% static 'img/logo.png' %}"
        /></a>
        <form class="d-flex" role="search">
          <input
            class="search-bar me-2"
            type="search"
            placeholder="검색어를 입력해주세요."
            aria-label="Search"
          />
          <button type="submit" id="ic-search" class="clear-btn">
            <img src="{% static 'img/search.png' %}" alt="검색" />
          </button>
        </form>
        <div id="hd-mypage">
          <a href="/mypage" class="clear-a">마이페이지</a>
        </div>
      </div>
      <div class="post-title">
        <div class="flex-left">
          {{post.postname}}
          <div class="post-author">by 몽몽</div>
        </div>
        <div class="edit-btn-container">
          <button type="button" class="btn-post-edit">수정</button>
          <button
            type="button"
            class="btn-post-edit"
            onClick="location.href='/blog/{{post.pk}}/remove'"
          >
            삭제
          </button>
        </div>
      </div>
      <div id="post-condition-container">
        <div class="flex-left">
          <p class="sep-text">지역</p>
          <input type="text" class="course-region" placeholder="제주도" />
          <p class="sep-text">기간</p>
          <input type="text" class="course-region" placeholder="당일치기" />
        </div>
        <div class="flex-right post-time">2022-08-07</div>
      </div>
      <div class="sep-line-post"></div>
      <div class="post-container">
        {% comment %} 사진 안 뜸 {% endcomment %}
        <!-- 이미지 보여주기 -->
        {% if post.mainphoto %}
        <img src="{{ post.mainphoto.url }}" alt="" height="600" />
        {% endif%}

        <div class="post-content">{{post.contents}}</div>
        <!-- 좋아요, 공유 버튼 -->
        <div class="share d-flex">
          <button type="button" class="img-btn">
            <img
              src="{% static 'img/heart.png' %}"
              alt=""
              width="20"
              height="20"
              class="post-ic"
            />
          </button>
          <div id="heart-count" class="post-cnt">1</div>
          <button type="button" class="img-btn">
            <img
              src="{% static 'img/share.png' %}"
              alt=""
              width="20"
              height="20"
              class="post-ic"
            />
          </button>
          <div id="share-count" class="post-cnt">2</div>
        </div>
        <div class="comment-container">
          <h5>댓글</h5>
          <div class="comment-w">
            <input
              type="text"
              placeholder="댓글을 입력해주세요."
              class="comment-input"
            />
            <button type="button" class="comment-up">등록</button>
          </div>
          <div class="comments">
            <div class="comment-info">
              <img
                src="{% static 'img/profile-img.png'%}"
                alt=""
                width="33"
                height="33"
              />
              <div class="comment-nick">
                몽몽
                <p class="comment-time">2022.08.08 13:15</p>
              </div>
            </div>
            <div class="comment-content">
              우리 몽이가 너무 즐겁게 뛰어놀아서 데려가길 잘 했다고 생각했어요! :)
              다음에도 또 데려가려고요 (댓글1)
            </div>
            <button type="button" class="comment-re-btn">답글 작성</button>
          </div>
          <div class="comment-sep-line"></div>
          <div class="comments">
            <div class="comment-info">
              <img
                src="{% static 'img/profile-img.png'%}"
                alt=""
                width="33"
                height="33"
              />
              <div class="comment-nick">
                몽몽
                <p class="comment-time">2022.08.08 13:15</p>
              </div>
            </div>
            <div class="comment-content">
              우리 몽이가 너무 즐겁게 뛰어놀아서 데려가길 잘 했다고 생각했어요! :)
              다음에도 또 데려가려고요 (댓글1)
            </div>
            <button type="button" class="comment-re-btn">답글 작성</button>
          </div>
          <div class="comment-sep-line"></div>
          <div class="comments">
            <div class="comment-info">
              <img
                src="{% static 'img/profile-img.png'%}"
                alt=""
                width="33"
                height="33"
              />
              <div class="comment-nick">
                몽몽
                <p class="comment-time">2022.08.08 13:15</p>
              </div>
            </div>
            <div class="comment-content">
              우리 몽이가 너무 즐겁게 뛰어놀아서 데려가길 잘 했다고 생각했어요! :)
              다음에도 또 데려가려고요 (댓글1)
            </div>
            <button type="button" class="comment-re-btn">답글 작성</button>
          </div>
        </div>
      </div>
    </div>
    <footer>위드펫 WithPet | LikeLion 10th SWU Team8</footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
