<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <title>위드펫</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'css/style.css' %}?after " rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="spot-wrapper">
      <div id="header" class="navbar">
        <a href="/" id="hd-main-logo" class="clear-a">
          <img src="{% static 'img/logo.png' %}"
        /></a>
        <form class="d-flex" role="search">
          <input
            class="search-bar me-2"
            type="search"
            placeholder="검색어를 입력해주세요."
            aria-label="Search"
          />
          <button type="submit" id="ic-search" class="clear-btn">
            <img src="{% static 'img/search.png' %}" alt="검색" />
          </button>
        </form>
        <div id="hd-mypage">
          <a href="/mypage" class="clear-a">마이페이지</a>
        </div>
      </div>
      <div id="spot-condition-container">
        <div class="flex-left">
          <p class="sep-text">지역</p>
          <input type="text" class="course-region" placeholder="제주도" />
          <p class="sep-text">분류</p>
          <button type="button" class="btn-category" id="selected-cat-btn">
            카페
          </button>
          <button type="button" class="btn-category">식당</button>
          <button type="button" class="btn-category">숙소</button>
          <button type="button" class="btn-category mg">레저</button>
          <p class="sep-text">서비스</p>
          <img
            src="{% static 'img/service01.png' %}"
            alt=""
            width="36"
            height="36"
            class="service-img"
          />
          <img
            src="{% static 'img/service02.png' %}"
            alt=""
            width="36"
            height="36"
            class="service-img"
          />
          <img
            src="{% static 'img/service03.png' %}"
            alt=""
            width="36"
            height="36"
            class="service-img"
          />
          <img
            src="{% static 'img/service02.png' %}"
            alt=""
            width="36"
            height="36"
            class="service-img"
          />
          <img
            src="{% static 'img/service01.png' %}"
            alt=""
            width="36"
            height="36"
            class="service-img"
          />
          <img
            src="{% static 'img/service03.png' %}"
            alt=""
            width="36"
            height="36"
            class="service-img"
          />
        </div>
        <div class="flex-right">
          <a href="/blog" class="clear-a" id="selected-course">코스</a>
          <p class="slash-line">|</p>
          <a href="/spot" class="clear-a" id="selected-spot">스팟</a>
        </div>
      </div>
      <div class="sep-line"></div>
      <div class="spot-order">
        <button type="button" class="btn-order selected-order">추천순</button>
        <button type="button" class="btn-order">인기순</button>
        <button type="button" class="btn-order">평점순</button>
      </div>
      <!-- spot 목록 -->
      <ul class="spot-box-container clear-ul">
        <li class="spot-container" onClick="location.href='/spot-detail'">
          <img
            src="{% static 'img/spot_01.jpg' %}"
            alt=""
            class="spot-ex-img"
          />
          <div class="spot-info-container">
            <div class="spot-title">
              <p class="spot-title-text">블리스풀</p>
              <img
                src="{% static 'img/heart.png' %}"
                alt=""
                class="flex-right"
                width="20"
                height="20"
              />
            </div>
            <div class="title-sep-line"></div>
            <div class="spot-info">
              <div class="d-flex">
                <img
                  src="{% static 'img/marker.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">제주 제주시 애월읍 산록서로 383 1동</p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/clock.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">
                  월 정기휴무 | 화,수,목,금,토,일 15:00~21:00
                </p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/phone.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">0507-1326-3603</p>
              </div>
            </div>
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
          </div>
        </li>
        <li class="spot-container" onClick="location.href='/spot'">
          <img
            src="{% static 'img/spot_02.jpg' %}"
            alt=""
            class="spot-ex-img"
          />
          <div class="spot-info-container">
            <div class="spot-title">
              <p class="spot-title-text">다같이애견카페</p>
              <img
                src="{% static 'img/heart.png' %}"
                alt=""
                class="flex-right"
                width="20"
                height="20"
              />
            </div>
            <div class="title-sep-line"></div>
            <div class="spot-info">
              <div class="d-flex">
                <img
                  src="{% static 'img/marker.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">제주 제주시 아란7길 47 2층 201호</p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/clock.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">
                  수 정기휴무 | 월,화,목,금 08:00~18:30 | 토,일 10:00~18:30
                </p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/phone.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">0507-1363-2475</p>
              </div>
            </div>
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
          </div>
        </li>
        <li class="spot-container" onClick="location.href='/spot'">
          <img
            src="{% static 'img/spot_03.jpg' %}"
            alt=""
            class="spot-ex-img"
          />
          <div class="spot-info-container">
            <div class="spot-title">
              <p class="spot-title-text">오멍가멍 애견카페&호텔</p>
              <img
                src="{% static 'img/heart.png' %}"
                alt=""
                class="flex-right"
                width="20"
                height="20"
              />
            </div>
            <div class="title-sep-line"></div>
            <div class="spot-info">
              <div class="d-flex">
                <img
                  src="{% static 'img/marker.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">제주 제주시 아란7길 47 2층 201호</p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/clock.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">
                  화 정기휴무 | 월,수,목,금,토,일 11:00~20:00
                </p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/phone.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">0507-1337-0567</p>
              </div>
            </div>
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
          </div>
        </li>
        <li class="spot-container" onClick="location.href='/spot'">
          <img
            src="{% static 'img/spot_04.jpg' %}"
            alt=""
            class="spot-ex-img"
          />
          <div class="spot-info-container">
            <div class="spot-title">
              <p class="spot-title-text">카이터스</p>
              <img
                src="{% static 'img/heart.png' %}"
                alt=""
                class="flex-right"
                width="20"
                height="20"
              />
            </div>
            <div class="title-sep-line"></div>
            <div class="spot-info">
              <div class="d-flex">
                <img
                  src="{% static 'img/marker.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">제주 제주시 매촌4길 3 카이터스</p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/clock.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">매일 10:00~24:00</p>
              </div>
              <div class="d-flex">
                <img
                  src="{% static 'img/phone.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <p class="info-text">064-702-2032</p>
              </div>
            </div>
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service02.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service01.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
            <img
              src="{% static 'img/service03.png' %}"
              alt=""
              width="36"
              height="36"
              class="service-img"
            />
          </div>
        </li>
      </ul>
    </div>
    <footer>위드펫 WithPet | LikeLion 10th SWU Team5</footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/top-nav.js' %}"></script>
  </body>
</html>
